---
layout: default
title: Categories
---


<ul class="tag_box inline" style="overflow:hidden">
  	{% assign categories_list = site.categories %}
    {% for category in categories_list %} 
    	<li style="margin:5px;padding: 2px 5px; text-align:center; float: left; background:#99B9C4"><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
    		{{ category[0] | join: "/" }}
    	</a></li>
    {% endfor %}

  
</ul>

<div class="article">
{% for category in site.categories %} 
  <h2  class="article-year" id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul style="list-style: none">
    {% assign pages_list = category[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
        	<li style="background:#F2EEEC; padding:5px; margin:3px 0"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
   
  </ul>
{% endfor %}
</div>

